header{
    text-align-last: center;
    font-family: fantasy;
    font-size: 30px;
    color: rgb(62, 12, 142);
    background-image: url(A1102.jpg);
    margin-top: 0px;
    padding: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    margin: 20px;
    text-align: center;
    padding: 20px;
    background:rgba(11, 191, 232, 0.5);
    font-size: 20px;
    font-family: cursive;
    border: 1px solid mediumspringgreen;
    color: blueviolet;
    border-radius: 8px;
    transition: all ease 0.3s;
}   
a:hover{
    background-color: peru;
    transform:rotate(5deg) scale(1.5);
}
h2{
    text-align: right;
}
img{
     display: block;
     padding: 30px;
     background-color: brown ;
     margin: 0px;
}
.sabalan{
    width: 200px;
    height: 200px;

    
}
.p1{
    direction: rtl;
    
}
main{
    display: flex;
}
